<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<form method="post" class="form-class">
    <h4>Delete Users</h4>
    <div th:each="user : ${users}" class="checkbox">
        <input type="checkbox" name="userIds" th:value="${user.id}" th:id="${user.id}"/>
        <label th:for="${user.id}" th:text="${user.email}"></label>
        <br />
    </div>
    <input type="submit" value="Delete Users" />
</form>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: scripts"></div>
</body>
</html>