<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>

<form method="POST" th:object="${user}" class="form-class" action="/admin/edit">
    <h2>Edit User</h2>

    <div class="form-group">
        <label for="author-field">Name</label>
        <input id="author-field" type="text" th:field="*{name}" class="form-control"/>
        <label th:errors="*{name}" class="error"></label>
    </div>

    <div class="form-group">
        <label for="lastName-field">Last Name</label>
        <input id="lastName-field" type="text" th:field="*{lastName}" class="form-control"/>
        <label th:errors="*{lastName}" class="error"></label>
    </div>

    <div class="form-group">
        <label for="email-field">E-mail</label>
        <input id="email-field" type="text" th:field="*{email}" class="form-control"/>
        <label th:errors="*{email}" class="error"></label>
    </div>

    <div class="form-group">
        <label for="password-field">Password</label>
        <input id="password-field" type="password" th:field="*{password}" class="form-control"/>
        <label th:errors="*{password}" class="error"></label>
    </div>
    <input type="hidden" th:value="${user.id}" name="userId" />
    <input type="submit" value="Edit User" />
    <span th:utext="${successMessage}"></span>
</form>

<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: scripts"></div>

</body>
</html>