<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
    <nav th:replace="fragments :: navigation"></nav>

    <div class="form-class">
        <h4>Select User to Edit</h4>
        <ul>
            <li th:each="user : ${users}">
                <a th:href="'/admin/edit/' + ${user.id}" th:text="${user.email}"></a>
            </li>
        </ul>
    </div>

    <footer th:replace="fragments :: footer"></footer>
    <div th:replace="fragments :: scripts"></div>

</body>
</html>