<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>
<div>
    <form autocomplete="off" action="#" th:action="@{admin/registration}" th:object="${user}" method="post" class="form-class">
        <h2>Registration Form</h2>

        <div class="form-group">
            <input type="text" th:field="*{name}" placeholder="Name" class="form-control"/>
            <label th:errors="*{name}" class="error"></label>
        </div>

        <div class="form-group">
            <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control"/>
            <label th:errors="*{lastName}" class="error"></label>
        </div>

        <div class="form-group">
            <input type="text" th:field="*{email}" placeholder="Email" class="form-control"/>
            <label th:errors="*{email}" class="error"></label>
        </div>

        <div class="form-group">
            <input type="password" th:field="*{password}" placeholder="Password" class="form-control"/>
            <label th:errors="*{password}" class="error"></label>
        </div>

        <button type="submit">Register User</button>
        <span th:utext="${successMessage}"></span>

    </form>
</div>

<footer th:replace="fragments :: footer"></footer>

<div th:replace="fragments :: scripts"></div>

</body>
</html>
