<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${document}" class="form-class">
    <div class="form-group">
        <label for="title-field">Title</label>
        <br>
        <input id="title-field" type="text" th:field="*{title}" />
        <label th:errors="*{title}" class="error"></label>

        <div class="form-group">
            <label for="author-field">Author</label>
            <br>
            <input id="author-field" type="text" th:field="*{author}" />
            <label th:errors="*{author}" class="error"></label>
        </div>

    <div class="form-group">
        <input name="content" type="hidden" th:field="*{content}"/>
        <div id="editor-container"></div>
    </div>

    <input type="submit" value="Create" />
</form>

<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: scripts"></div>

<script>
var quill = new Quill('#editor-container', {
  modules: {
    toolbar: [
      ['bold', 'italic', 'underline'],
      ['image']
    ]
  },
  theme: 'snow'
});
var form = document.querySelector('form');
form.onsubmit = function() {
  var about = document.querySelector('input[name=content]');
  about.value = quill.root.innerHTML;
};
</script>

</body>
</html>