<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<content>
<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${documents} and ${documents.size()}">no documents</p>

<form th:action="@{/list/search}" method="POST" class="form-class">
    <div class="form-group">
        <input type="text" id="searchTerm" name="searchTerm" class="form-control"/>
        <input type="submit" value="Search" />
    </div>
</form>

<div>
    <ul>
        <li th:each="document : ${documents}">
            <a th:href="'/document/view/' + ${document.id}" th:text="${document.title}"></a>
        </li>
    </ul>
</div>

<footer th:replace="fragments :: footer"></footer>

<div th:replace="fragments :: scripts"></div>

</content>
</html>