<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<div>
    <form th:action="@{/login}" method="POST" class="form-class" >
        <h3 th:text="Welcome"></h3>

        <div class="form-group">
            <input type="text" id="email" name="email"  th:placeholder="Email" class="form-control"/>
        </div>

        <div class="form-group">
            <input type="password"  th:placeholder="Password" id="password" name="password" class="form-control"/>
        </div>

        <div align="center" th:if="${param.error}">
            <p class="error">Email or Password invalid. Please verify your credentials or contact your Admin for support.</p>
        </div>

        <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>
</div>

<footer th:replace="fragments :: footer"></footer>

<div th:replace="fragments :: scripts"></div>

</body>
</html>