<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<form th:action="@{/registration}" method="get" >
    <button type="Submit">Go To Registration Page</button>
</form>

<div>
    <form th:action="@{/login}" method="POST" class="form-class" >
        <h3 th:text="Welcome"></h3>
        <input type="text" id="email" name="email"  th:placeholder="Email" class="form-control"/>
        <input type="password"  th:placeholder="Password" id="password" name="password" class="form-control"/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>
</div>
</body>
</html>